#|
This text between the two pipe+octothorpe sequences is a multi-line comment.
|#
;; Text after double-semicolons are single-line comments.

(defcfg
  process-unmapped-keys yes
  linux-continue-if-no-devs-found yes
  ;;danger-enable-cmd yes
)

(defsrc
  grv   1     2     3     4     5     6     7     8     9     0     -     =     bspc 
  tab   q     w     e     r     t     y     u     i     o     p     [     ]     \    
  caps  a     s     d     f     g     h     j     k     l     ;     '     ret  
  lsft  z     x     c     v     b     n     m     ,     .     /     rsft  up
  lctl  lmet  lalt              spc               ralt  rmet  rctl  left  down rght
)

(defalias
  mcap (tap-hold-press 0 16000 esc lctrl)

  lkx (tap-hold-press 0 16000 (one-shot 5000 (layer-while-held x)) lalt)
  ;; C-b is the zellij leader - can control zellij and also embedded
  ;; programs by sending arbitrary bytes to the pane in focus.
  xc (macro C-b 10 c) ;; Zellij new tab
  xe (macro C-b 10 e) ;; Zellij toggle float/embed
  xf (macro C-b 10 f) ;; Zellij floating panes
  xh (macro C-b 10 h) ;; Zellij previous tab
  xl (macro C-b 10 l) ;; Zellij next tab
  xn (macro C-b 10 n) ;; Zellij new pane
  xs (one-shot 5000 (layer-while-held xs)) ;; LAYER: xs
  xv (macro C-b 10 v) ;; Zellij toggle float/embed
  xz (macro C-b 10 z) ;; Zellij toggle zoom

  ;; xs layer
  xss (macro C-b 10 s)    ;; Zellij session manager
  xsh (macro C-b 10 left) ;; Zellij split left
  xsj (macro C-b 10 down) ;; Zellij split down
  xsk (macro C-b 10 up)   ;; Zellij split up
  xsl (macro C-b 10 rght) ;; Zellij split right
)

(deflayer default
  grv   1     2     3     4     5     6     7     8     9     0     -     =     bspc 
  tab   q     w     e     r     t     y     u     i     o     p     [     ]     \    
  @mcap a     s     d     f     g     h     j     k     l     ;     '     ret  
  lsft  z     x     c     v     b     n     m     ,     .     /     rsft  up
  lctl  lmet  @lkx              spc               ralt  rmet  lrld  left  down rght
)

(deflayer x
  XX    XX    XX    XX    XX    XX    XX    XX    XX    XX    XX    XX    XX    XX   
  XX    XX    XX    @xe   XX    XX    XX    XX    XX    XX    XX    XX    XX    XX   
  XX    XX    @xs   XX    @xf   XX    @xh   XX    XX    @xl   XX    XX    XX   
  XX    @xz   XX    @xc   @xv   XX    @xn   XX    XX    XX    XX    XX    XX
  XX    XX    XX                XX                XX    XX    XX    XX    XX    XX
)

(deflayer xs
  XX    XX    XX    XX    XX    XX    XX    XX    XX    XX    XX    XX    XX    XX   
  XX    XX    XX    XX    XX    XX    XX    XX    XX    XX    XX    XX    XX    XX   
  XX    XX    @xss  XX    XX    XX    @xsh  @xsj  @xsk  @xsl  XX    XX    XX   
  XX    XX    XX    XX    XX    XX    XX    XX    XX    XX    XX    XX    XX
  XX    XX    XX                XX                XX    XX    XX    XX    XX    XX
)
