;; Text after double-semicolons are single-line comments.

(defcfg
  process-unmapped-keys yes
  override-release-on-activation yes

  macos-dev-names-include (
    "Apple Internal Keyboard / Trackpad"
  )
)

(defsrc
  esc   f1    f2    f3    f4    f5    f6    f7    f8    f9    f10   f11   f12
  lsgt  1     2     3     4     5     6     7     8     9     0     -     =     bspc 
  tab   q     w     e     r     t     y     u     i     o     p     [     ]     \    
  caps  a     s     d     f     g     h     j     k     l     ;     '     ret  
  lsft  grv   z     x     c     v     b     n     m     ,     .     /     rsft  up
  fn    lctl  lalt  lmet        spc               ralt  rmet  rctl  left  down rght
)

(defoverrides
  (lmet tab) (rctl tab)
  (lalt tab) (rmet tab)
)

(defalias
  1 1
  2 2
  3 3
  4 4
  5 5
  6 6
  7 7
  8 8
  9 9
  mcap (tap-hold-press 0 16000 esc (multi rctl rmet))

  fn (tap-hold 250 250 fn (layer-toggle fn))
  lctl (multi rctl rmet)

  lkx (tap-hold-press 0 16000 (one-shot 5000 (layer-while-held x)) lalt)
  ;; C-b is the zellij leader - can control zellij and also embedded
  ;; programs by sending arbitrary bytes to the pane in focus.
  x1 (macro C-b 10 @1) ;; Zellij tab 1
  x2 (macro C-b 10 @2) ;; Zellij tab 2
  x3 (macro C-b 10 @3) ;; Zellij tab 3
  x4 (macro C-b 10 @4) ;; Zellij tab 4
  x5 (macro C-b 10 @5) ;; Zellij tab 5

  xc (macro C-b 10 c) ;; Zellij new tab
  xd (macro C-b 10 d) ;; Zellij detach
  xe (macro C-b 10 e) ;; Zellij toggle float/embed
  xf (macro C-b 10 f) ;; Zellij floating panes
  xh (macro C-b 10 h) ;; Zellij previous tab
  xl (macro C-b 10 l) ;; Zellij next tab
  xn (macro C-b 10 n) ;; Zellij new pane
  xs (one-shot 5000 (layer-while-held xs)) ;; LAYER: xs
  xv (macro C-b 10 [) ;; Copy-mode
  xz (macro C-b 10 z) ;; Zellij toggle zoom

  xTab (macro C-b 10 S-l) ;; last session
  xSpc (macro C-b 10 S-w) ;; previous window

  ;; xs layer
  xss (macro C-b 10 s)    ;; Zellij session manager
  xsh (macro C-b 10 left) ;; Zellij split left
  xsj (macro C-b 10 down) ;; Zellij split down
  xsk (macro C-b 10 up)   ;; Zellij split up
  xsl (macro C-b 10 rght) ;; Zellij split right
)

(deflayer default
  esc   🔅    🔆    mctl  sls   dtn   dnd   ◀◀    ▶⏸    ▶▶    🔇    🔉    🔊
  grv   1     2     3     4     5     6     7     8     9     0     -     =     bspc 
  tab   q     w     e     r     t     y     u     i     o     p     [     ]     \    
  @mcap a     s     d     f     g     h     j     k     l     ;     '     ret  
  lsft  lsgt  z     x     c     v     b     n     m     ,     .     /     rsft  up
  lmet  @fn   @lctl @lkx        spc               ralt  rmet  rctl  left  down rght
)

(deflayer fn
  _     f1    f2    f3    f4    f5    f6    f7    f8    f9    f10   f11   f12
  XX    XX    XX    XX    XX    XX    XX    XX    XX    XX    XX    XX    XX    XX   
  XX    XX    XX    XX    XX    XX    XX    XX    XX    XX    XX    XX    XX    XX   
  XX    XX    XX    XX    XX    XX    XX    XX    XX    XX    XX    XX    XX   
  XX    XX    XX    XX    XX    XX    XX    XX    XX    XX    XX    XX    XX    XX
  XX    XX    XX    XX          XX                XX    XX    XX    XX    XX    XX
)

(deflayer x
  XX    XX    XX    XX    XX    XX    XX    XX    XX    XX    XX    XX    XX
  XX    @x1   @x2   @x3   @x4   @x5   XX    XX    XX    XX    XX    XX    XX    XX   
  @xTab XX    XX    @xe   XX    XX    XX    XX    XX    XX    XX    XX    XX    XX   
  XX    XX    @xs   @xd   @xf   XX    @xh   XX    XX    @xl   XX    XX    XX   
  XX    XX    @xz   XX    @xc   @xv   XX    @xn   XX    XX    XX    XX    XX    XX
  XX    XX    XX    XX          @xSpc             XX    XX    XX    XX    XX    XX
)

(deflayer xs
  XX    XX    XX    XX    XX    XX    XX    XX    XX    XX    XX    XX    XX
  XX    XX    XX    XX    XX    XX    XX    XX    XX    XX    XX    XX    XX    XX   
  XX    XX    XX    XX    XX    XX    XX    XX    XX    XX    XX    XX    XX    XX   
  XX    XX    @xss  XX    XX    XX    @xsh  @xsj  @xsk  @xsl  XX    XX    XX   
  XX    XX    XX    XX    XX    XX    XX    XX    XX    XX    XX    XX    XX    XX
  XX    XX    XX    XX          XX                XX    XX    XX    XX    XX    XX
)
