#|
This text between the two pipe+octothorpe sequences is a multi-line comment.
|#
;; Text after double-semicolons are single-line comments.

(defcfg
  process-unmapped-keys yes
  linux-continue-if-no-devs-found yes
  ;;danger-enable-cmd yes
)

(defsrc
  grv   1     2     3     4     5     6     7     8     9     0     -     =     bspc 
  tab   q     w     e     r     t     y     u     i     o     p     [     ]     \    
  caps  a     s     d     f     g     h     j     k     l     ;     '     ret  
  lsft  z     x     c     v     b     n     m     ,     .     /     rsft 
  lctl  lmet  lalt              spc               ralt  rmet  rctl 
)

(defalias
  mcap (tap-hold-press 0 16000 esc lctrl)

  lkx (tap-hold-press 0 16000 (one-shot 5000 (layer-while-held x)) lalt)
  xe (macro (arbitrary-code 120) 5 e) ;; Zellij toggle float/embed
  xf (macro (arbitrary-code 120) 5 f) ;; Zellij floating panes
  xv (macro (arbitrary-code 120) 5 v) ;; Zellij toggle float/embed
  xz (macro (arbitrary-code 120) 5 z) ;; Zellij toggle zoom
)

(deflayer default
  grv   1     2     3     4     5     6     7     8     9     0     -     =     bspc 
  tab   q     w     e     r     t     y     u     i     o     p     [     ]     \    
  @mcap a     s     d     f     g     h     j     k     l     ;     '     ret  
  lsft  z     x     c     v     b     n     m     ,     .     /     rsft 
  lctl  lmet  @lkx              spc               ralt  rmet  lrld
)

(deflayer x
  XX    XX    XX    XX    XX    XX    XX    XX    XX    XX    XX    XX    XX    XX   
  XX    XX    XX    @xe   XX    XX    XX    XX    XX    XX    XX    XX    XX    XX   
  XX    XX    XX    XX    @xf   XX    XX    XX    XX    XX    XX    XX    XX   
  XX    @xz   XX    XX    @xv   XX    XX    XX    XX    XX    XX    XX   
  XX    XX    XX                XX                XX    XX    XX
)
