#|
This text between the two pipe+octothorpe sequences is a multi-line comment.
|#
;; Text after double-semicolons are single-line comments.

(defcfg
  process-unmapped-keys yes
  linux-continue-if-no-devs-found yes
  ;;danger-enable-cmd yes
)

(defsrc
  caps
  ralt
  rctl
)

(deflayer default
  esc
  ;; @hi
  ;; (unicode 😃)
  ;; katakana
  ;; f13
  ;; S-f1
  (tap-hold-press 0 16000 (one-shot 5000 (layer-while-held testlayer)) ralt)
  lrld
)

(deflayer testlayer
  XX
  (arbitrary-code 120)
  lrld
)
